<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (cliente) { %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="nome-name">Nome</label>
                    <input type="text" class="form-control" name="nome" id="nome" value="<%= cliente.nome %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="apelido">Apelido</label>
                    <input type="text" class="form-control" name="apelido" id="apelido" value="<%= cliente.apelido %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" name="cpf" id="cpf" value="<%= cliente.cpf %>" required disabled title="CPF não pode ser alterado">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="celular">Celular</label>
                    <input type="tell" class="form-control" name="celular" id="celular" placeholder="Celular" value="<%= cliente.celular %>" required>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Atualizar Cliente</button>
        </form>
    <% } else { %>
        <p class="text-center">Cliente não encontrado. Clique <a href="/add">aqui</a> para adicionar novos clientes.</p>
    <% } %>
</div>
</div>
</body>
</html>